.card {
  perspective: 150rem;
  position: relative;
  height: 52rem;

  &_side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &-front {
        background-color: $color-white;
    }

    &-back {
        background-color: blue;
        transform: rotateY(180deg);
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &-1 {
          background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        }
    }
  }

  &:hover &_side-front {
    transform: rotateY(180deg);
  }

  &:hover &_side-back {
    transform: rotateY(0deg);
  }

}
