body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}
::selection {
    background-color: $Medium-green;
    color: $white;
}
.marketing-message {
    display: flex;
    flex-direction: column;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;

    &--primary {
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: fade-in 1s ease-in-out;
    }

    &--secondary {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: fade-out 1s ease-out;
    }
}