.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}
.u-margin-top-medium {
  margin-top: 4rem;
}
.u-margin-top-big {
  margin-top: 8rem;
}
.u-margin-top-huge {
  margin-top: 10rem;
}

.u-layout-grid {
  display: grid;
  grid-template-rows: auto;
  gap: 6rem;
  max-width: 114rem;
  margin: 0 auto;
}
.u-layout-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.u-layout-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.u-layout-grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
